/* CSS Version 1.0 https://github.com/stadium-software/toggle-buttons */
:root {
    --stadium-toggle-button-font-color: white;
    --stadium-toggle-button-background-color: rgb(33, 150, 243);

    --stadium-toggle-button-active-font-color: #2196f3;
    --stadium-toggle-button-active-background-color: white;
}