/* CSS Version 1.0 https://github.com/stadium-software/toggle-buttons */
.stadium-toggle-button.check-box-list-container,
.stadium-toggle-button.radio-button-list-container {
    position: relative;
    padding-right: 1.6rem;
    margin-top: 1rem;
    background: transparent;

    > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }

    input[type=radio],
    input[type=checkbox],
    label {
        position: absolute;
        height: 0;
        width: 0;
        visibility: hidden;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
    }

    .checkbox,
    .radio {
        border-right: 0.1rem solid var(--stadium-toggle-button-font-color, var(--BODY-BACKGROUND-COLOR));
        padding: 0;

        .toggle-button {
            color: var(--stadium-toggle-button-font-color, var(--BUTTON-TEXT-COLOR));
            background-color: var(--stadium-toggle-button-background-color, var(--BUTTON-BACKGROUND-COLOR));
            box-shadow: none;
            border-radius: 0;
            text-transform: none;
        }
    }

    .checkbox.active button,
    .radio.active button {
        background-color: var(--stadium-toggle-button-active-background-color, var(--BUTTON-TEXT-COLOR));
        color: var(--stadium-toggle-button-active-font-color, var(--BUTTON-BACKGROUND-COLOR));
        border-color: var(--stadium-toggle-button-active-font-color, var(--BUTTON-BACKGROUND-COLOR));
    }

    .checkbox:first-child,
    .radio:first-child {
        button {
            border-top-left-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem;
        }
    }

    .checkbox:last-child,
    .radio:last-child {
        border-right: 1px solid transparent;

        button {
            border-top-right-radius: 0.4rem;
            border-bottom-right-radius: 0.4rem;
        }
    }
}

.stadium-toggle-button.check-box-list-container.required-indicator:after,
.stadium-toggle-button.radio-button-list-container.required-indicator:after {
    top: 0;
    right: 0.4rem;
}

html {
    min-height: 100%;
    font-size: 62.5%;
}